<div class="mainhc">
    <div class="home-admin-main">
    <div class="home-admin-comp">
        <div class="one" >
           <ion-icon name="cash-outline" size="large"></ion-icon> 
           <p>...</p>
        </div>
        <div>
           <h1>KSH 20,000</h1> 
        </div>

        <div>
           <h1>Sales</h1> 
        </div>
    </div>

       <div class="home-admin-comp">
        <div class="two" >
           <ion-icon name="card-outline" size="large" ></ion-icon>
           <p>...</p>
        </div>
        <div>
           <h1>KSH 20,000</h1> 
        </div>

        <div>
           <h1>Sales</h1> 
        </div>
    </div>


       <div class="home-admin-comp">
        <div class="three" >
         <ion-icon name="id-card-outline" size="large"></ion-icon> 
           <p>...</p>
        </div>
        <div>
           <h1>KSH 20,000</h1> 
        </div>

        <div>
           <h1>Sales</h1> 
        </div>
    </div>


       <div class="home-admin-comp">
        <div class="four" >
           <ion-icon name="cash-outline" size="large"></ion-icon> 
           <p>...</p>
        </div>
        <div>
           <h1>20</h1> 
        </div>

        <div>
           <h1>Orders</h1> 
        </div>
    </div>

       <div class="home-admin-comp">
        <div class="five" >
           <ion-icon name="analytics-outline" size="large"></ion-icon> 
           <p>...</p>
        </div>
        <div>
           <h1>KSH 20,000</h1> 
        </div>

        <div>
           <h1>Production</h1> 
        </div>
    </div>




   
</div>
</div>
