<div class="main">
  <div class="nav">
  <div class="logo">
    <ion-icon size="large" name="logo-amplify"></ion-icon>
    <a routerLink="">DOD Stores</a>
  </div>
  <div class="center">
    <a  *ngIf="logged" routerLink="admin" >Admin</a>
    <a *ngIf="logged">About</a>
    <a  *ngIf="logged">Contact</a>
  </div>
  <div class="icons">
    <a *ngIf="!logged" routerLink="register">Register</a>
    <a *ngIf="!logged" routerLink="login">Login</a>
    <a *ngIf="logged" routerLink="login" (click)="logout()">Logout</a>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
</div>