<div class="admin-main">
  <div class="dash-left">
    <a
      routerLink="/admin"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Dashboard
    </a>
    <a routerLink="add" routerLinkActive="active">Add Product</a>
    <a routerLink="products" routerLinkActive="active">Products</a>
    <a routerLink="invent" routerLinkActive="active">Inventory Management</a>
    <a routerLink="collection" routerLinkActive="active">Collection</a>
    <a>Orders</a>
    <a>Sales</a>
  </div>

  <div class="dash-right">
    <router-outlet></router-outlet>
  </div>
</div>
