<div class="main-home">
  <div class="content-home">
    <img src="../../assets/4.jpg" alt="" />
  </div>
  <div class="text">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
      asperiores accusamus saepe dolor expedita nesciunt, optio quis quam facere
      soluta, ex repellendus consequatur culpa modi nulla. Aliquam id possimus
      corporis debitis. Quasi nulla magnam asperiores sunt ipsa, reprehenderit
      rem dolorum possimus molestias aliquam optio a beatae, ullam magni ad
      inventore dolore accusamus provident facere at odio? Animi tempore
      architecto magnam natus est. Repudiandae delectus maxime quis aliquam non
      dolorum voluptates, amet laboriosam quia, cum cupiditate ea nulla ad iste
      dolores aspernatur architecto ratione est, impedit necessitatibus eaque
      praesentium possimus! Placeat ea quis officia consequatur, voluptatum rem
      nihil consequuntur suscipit quod.
      
    </p>
    <button> Get Started</button>
  </div>
</div>
