.main-login{
    width: 100vw;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.log{
    width: 500px;
    height: 440px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f4f7;
    padding: 10px;
    display: flex;
    flex-direction: column;  
}

.log input{
    padding: 10px;
    width: 100%;
}

.log button{
    padding: 12px 20px ;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    color: #FFF;
    background-color: coral;
    font-size: 20px;
}
